html, body{
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  background-color: #FFF8ED;
}

.hf-bg{
	background: #FCEACF;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
}

.jumbotron{
	background: #CAE5FA;
}

.parent{
	height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.card{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.h4{
	margin: 0;
}

.visual{
	height: 200px;
  width: 100%;
}

.main-center{
  display: grid;
  place-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#uploadImage{
  width: 300px;
  height: 300px;
}

input[type=file]{
padding:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}